.seat {
    background-color: orange;
    height: 26px;
    width: 32px;
    margin: 7px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(-90deg);
  }

  .seat.selected {
    background-color: green;
  }
  
  .seat.sold {
    background-color: #fff;
  }

  .seat:hover {
    cursor: pointer;
    transform: rotate(-90deg);
  }

